#works{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.worksTitle{
    font-size: 3rem ;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
} 
.worksDesc{
    font-weight:400 ;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;  
}

.worksImgs{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.worksBtn{
    padding: 0.5rem 2.25rem;
    border-radius: 2rem;
    background: white;
    border: none;
    font-size: 1rem;
    margin: 3rem 0;
}

@media screen and (max-width:585px) {
    .worksImg{
        height: 48vw;
    }
}

@media screen and (max-width:480px) {
    .worksDesc{
        font-size: .85rem;
    }
}